*{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.utch{
    background-color: green;
    border: 4px, solid, rgb(237, 161, 21);
    border-radius: 5px;
    text-decoration: none;
    color: black;
}
.utch:hover{
    background-color: rgb(237, 161, 21);
    border: 4px, solid green;
}
.nada{
    filter: grayscale(100%);
}
.nada:hover{
    filter: grayscale(0%);
}
.jalando{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fortnite{
    display: flex;
    align-items: center;
    justify-content: center;
}