/*CSS del index*/
:root {
  --color-iden: #2563eb;
  --color-fondo: #f8fafc;
  --text-encapri: #1e293b;
  --text-secun: #64748b;
  --color-bordes: #e2e8f0;
  --glass-tarj: rgba(255, 255, 255, 0.7);
  --glass-bg: rgba(255, 255, 255, 0.7);
  --glass-border: rgba(255, 255, 255, 0.4);
  --font-main:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-fondo);
  padding-top: 3.5rem;
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  background-color: var(--color-fondo);
  border-bottom: 2px solid var(--color-bordes);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--color-iden);
}
.navegacion ul {
  display: flex;
  gap: 20px;
  align-items: center;
}
.navegacion ul li {
  list-style: none;
}
.navegacion ul li a {
  color: var(--text-encapri);
}
