
:root{
    /*Colores de fondo*/
    --clr-fonmain: #0B0B0B;
    --clr-fontarj: #1A1A1A;
    --clr-fonbord: #262626;
    /*Colores de identidad*/
    --clr-idemain:#D20A0A;
    --clr-idesec: #FFD700;
    /*Tipografia*/
    --clr-titulos: #FFFFFF;
    --clr-cuerpo: #E0E0E0;
    --clr-footer: #A0A0A0;
    --font-main: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
}
html{
    scroll-padding-top: 70px;
    scroll-behavior: smooth;
}
body{
    background-color: var(--clr-fonmain);
    color: var(--clr-cuerpo);
    font-family: var(--font-main);
    padding-top: 2rem;
}
header{
    background-color: var(--clr-fonmain);
    
}
.main-nav{
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);

}
.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 5rem;
}
.main-nav img{
    width: 10%;
}
.branding ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
    margin-right: 5rem;
    
}
.branding ul li a{
    color: var(--clr-cuerpo);
    text-decoration: none;
    transition: all 0.9s ease;
}
.branding ul li a:hover{
    color: var(--clr-cuerpo);
    text-decoration: none;
    color: var(--clr-idesec);
}
.hero-section{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(src/hero-tl.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-section h1{
    text-align: center;
    font-size: 5rem;
    font-weight: 900;
    text-shadow: 
        0 0 20px  rgba(165, 10, 10, 0.8), 
        0 0 10px rgba(165, 10, 10, 0.6), 
        0 0 10px rgba(165, 10, 10, 0.4);
    margin: 0;
    line-height: 1.1;
}
.hero-section h2{
    text-align: center;
    margin: 0;
    color: rgb(255, 31, 31);
     text-shadow: 
        0 0 1px  var(--clr-idemain), 
        0 0 1px var(--clr-idemain), 
        0 0 10px var(--clr-idemain);
    font-size: 4rem;
}
.hero-section p{
    color: var(--clr-footer);
    border-bottom: 2px solid var(--clr-idemain);
    padding-bottom: 3rem;
    margin-bottom: 3rem;
}